@{
    ViewData["Title"] = "McBonald's";
}
<header>
        <hgroup>
            <h1>McBonald's</h1>
            <h2>Hamburgueres</h2>
        </hgroup>
    </header>
    <main>
        <div id="grid-container">
            <div class="item-extended">
                <div class="food-section">
                    <img src="img/hamburguer_black.jpg" alt="Foto do Hamburguer Emo" title="Gótico Suave" />
                    <p>R$12,99</p>
                    <p>Black Burguer</p>
                </div>
            </div>

            <div class="food-section">
                <img src="img/hamburguer_combo.jpg" alt="Foto do nosso combo" title="Super combo!" />
                <p>R$19,99</p>
                <p>Combo da Hora</p>
            </div>
            <div class="food-section">
                <img src="img/hamburguer_vegan.jpg" alt="Foto do Hamburguer Vegano" title="Não é hamburguer!" />
                <p>R$10,99</p>
                <p>Vegeburguer</p>
            </div>
            <div class="food-section">
                <img src="img/furioso.jpg" alt="Foto do Hamburguer Emo" title="Gótico Suave" />
                <p>R$12,99</p>
                <p>Black Burguer</p>
            </div>
            <div class="food-section">
                <img src="img/redhotburguer.jpg" alt="Foto do nosso combo" title="Super combo!" />
                <p>R$19,99</p>
                <p>Combo da Hora</p>
            </div>
            <div class="food-section">
                <img src="img/gigaburguer.jpg" alt="Foto do Hamburguer Vegano" title="Não é hamburguer!" />
                <p>R$10,99</p>
                <p>Vegeburguer</p>
            </div>
        </div>
    </main>