@{
    ViewData["Title"] = "McBonald's";
}
<hgroup>
            <h1>McBonald's</h1>
        </hgroup>
    </header>

    <main>
        <h2>Login</h2>
        <form method="POST" action="index.html">
            <div>
                <label for="nome">E-mail</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
            </div>

            <div>
                <label for="endereco">Senha</label>
                <br />
                <input id="endereco" type="text" maxlength="20" minlength="3" name="endereco" />
            </div>
           
            <input type="submit" value="Acessar minha conta!" />
        </form>

    </main>