
<section id="DataForm">
    <div class="container">
        <div class="content">
            <form action="../../Controllers/UsuarioController.cs/Cadastrar" method="POST">
                <input type="text" name="name" placeholder="Nome" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Senha" />
                <input type="date" name="date" placeholder="Data de nascimento" />
                <input type="submit" value="Gravar" />
            </form>
        </div>
    </div>
</section>