<nav>
    <div class="headerDiv">
        <h1>1973 State Park</h1>
        <a href='@Url.Action("Index", "Home")'><img src="~/images/logoStatePark.png" class="headerImg"
                alt="A car and a parking sign in a circle written '1973 State Park - Don't Cry walking home."></a>
    </div>
    <div class = "flex-container">
        <ul>
            <li>
                <a href='@Url.Action("Index", "Home")'>Home</a>
            </li>
            <li>
                <a href='@Url.Action("NovaEntrada", "Atividade")'>Nova Entrada</a>
            </li>
            <li>
                <a href='@Url.Action("BalancoDeAtividade", "Atividade")'>Balanço de Atividade</a>
            </li>

        </ul>
    </div>
</nav>