<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["ViewName"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
    
    @if("Nova Entrada".Equals((string)ViewData["ViewName"])){
        <link rel="stylesheet" href="~/css/novaEntrada.css">
    }
    @if("Balanço de Atividade".Equals((string)ViewData["ViewName"])){
        <link rel="stylesheet" href="~/css/balancoDeAtividades.css">   
    }
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer>
        
    </footer>
</body>
</html>