<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Titulo"]</title>
    <meta charset="UTF-8">
    <link href="~/wwwroot/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

</body>

</html>