@{
    Layout = "_Layout";
    Html.RenderPartial("_HeaderNav");
}
<h2>Atividades do estacionamento</h2>
<table>
    <thead>
        <th>Id</th>
        <th>Nome do condutor</th>
        <th>Marca do carro</th>
        <th>Modelo do carro</th>
    </thead>
</table>