@{
Layout="_Layout";
Html.RenderPartial("_HeaderNav");
}
<section id="newCarSection">
    <form method="POST" action="/Atividade/RegistrarAtividade" class="newCarForm">
        <div class="flex-container">
            <div>
                <label for="nomeCondutor">Nome do condutor</label>
                </br>
                <input type="text" name="nomeCondutor" />
            </div>
            <div>
                <label for="marcaCarro">Marca do carro</label>
                </br>
                <select name="marcaCarro">
                    <option value="Selecione" disabled>Selecione uma marca</option>
                    @foreach(var marca in Model.ListaDeMarcas as List<string>){
                        <option value="@marca">@marca</option>
                        }
                </select>
            </div>
            <div>
                <label for="modeloCarro">Modelo</label>
                </br>
                <select name="modeloCarro">
                    <option value="Selecione" disabled>Selecione um modelo</option>
                    @foreach(var modelo in Model.ListaDeModelos as List<string>){
                        <option value="@modelo">@modelo</option>
                        }
                </select>
            </div>
            <div>
                <label for="placaCarro">Placa</label>
                </br>
                <input type="text" name="placaCarro" />
            </div>
        </div>
        <div class="flex-container">
            <input type="submit" value="Enviar" />
        </div>
        
    </form>
</section>