@{
    ViewData["Title"] = "Suba a sua imagem";
}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <input onchange="ShowImage(this)" id="button" type="file" value="Procurar imagem" accept="image/png/jpeg" />
    <img onclick='UploadImage(this)' src="#" id="vish" />
<!-- -->

    <script>
        var reader = new FileReader();
        function ShowImage(input) {
            if (input.files && input.files[0]) {
                

                reader.onload = function (e) {
                    $('#vish')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function UploadImage(element) {
            var xhr = new XMLHttpRequest();
            var imgElement = document.getElementById('vish');
            var base64Url = JSON.stringify(imgElement.getAttribute('src'));
            console.log('Result:', base64Url)
            
            //AQUI A INTENÇÃO É ENVIAR A IMAGEM CONVERTIDA PARA O JSON
            // xhr.open("POST", "teste.json", true);
            // xhr.send(base64Url);
        
        }
        
    </script>
</body>

</html>