@{
    ViewData["Titulo"] = "Music App";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Nome"], seja bem vindo(a)!</h3>
<p>@ViewData["NomesRepetidos"]</p>
<ul>
    @for(int i = 0; i < (int) ViewData["Vezes"]; i++){
        <li>@ViewData["Nome"]</li>
    }
</ul>