
<head>
    <link href="~/css/style-pedidos-flex.css" rel="stylesheet" type="text/css">
    <style>
        h2{
            color:green;
        }
    </style>
</head>
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<main>
    <h2>@ViewData["Funcao"] realizado com sucesso.</h2>
</main>